server/tcpserver.elf
server/.vscode/launch.json
server/.vscode/tasks.json
server/tcpserver
client/tcpclient.elf
client/.vscode/launch.json
client/.vscode/tasks.json
client/tcpclient
client/Emb_tcpclient.elf
server/Emb_tcpserver.elf
server/tcpserver.o
client/send_out.elf
client/send_out.o
client/tcpclient.o
client/EMB_tcpcli.elf
